streamlit==1.39.0
pymupdf==1.24.10
nltk==3.9.1
sentence-transformers==3.2.1
faiss-cpu==1.8.0.post1
huggingface_hub==0.26.2
python-dotenv==1.0.1
numpy==1.26.4
kaggle==1.6.17
tqdm==4.66.5
rank-bm25==0.2.2
psutil==6.1.0
